@{
    ViewData["Title"] = "Projeto Elevador";
}

<div class="text-left">
    <h1 class="display-4">Projeto Elevador</h1>
    <p>Documentação referente ao Projeto Sistema de Elevador em C# feito para a conclusão do Curso da Samsung Ocean Brasil.</p>
    <p>Foi desenvolvido uma solução de controle do elevador. Entrada ou saída de uma pessoa por vez e subida ou descida de um andar por vez, 
        conforme a escolha do usuário.
    </p>
     <h1 class="display-4">Manual do Sistema</h1>
     <p>Ao iniciar, o sistema solicita as informações: - Capacidade de pessoas que o elevador suporta e da quantidade de andares existentes.
         O elevador sempre inicia no andar terreo e com todas as vagas disponiveis.
     </p>
      <p><b><br>1 - Tela para informar a capacidade do elevador e a quantidade de andares.</b></p>
      <img src="imgs/informacoesInicial.jpg" />
      <p><b><br>2 - Tela que apresenta as opções do sistema:</b></p>
      <img src="imgs/menu.jpg" />
      <p><br>1 - Entrar - Permite entrar um por vez até atingir a capacidade máxima.</p>
      <img src="imgs/entrar.jpg" />
      <p><br>2 - Sair - Permite sair do elevador um por vez e avisa quando esta vazio</p>
      <img src="imgs/sair.jpg" />
      <p><br>3 - Subir - Sobe um andar, informa o atual andar e quando já chegou o último andar</p>
      <img src="imgs/subir.jpg" />
      <p><br>4 - Descer - Permite descer um andar e avisa que quando esta no térreo</p>
      <img src="imgs/descer.jpg" />
      <p><br>5 - Encerrar o sistema - Finaliza o sistema.</p>
    
</div>
